<section class="h-screen flex flex-col justify-center items-center bg-[#F9F9F9] text-black px-4">
    <!-- <nav class="absolute top-0 w-full max-w-6xl flex justify-between py-8">
        <div class="font-bold text-xl">Reynard Adimas N.</div>
        <div class="space-x-6 text-sm font-medium">
            <a href="#project" class="hover:text-gray-600">Projects</a>
            <a href="#achievment" class="hover:text-gray-600">Achievment</a>
            <a href="#about" class="hover:text-gray-600">About</a>
            <a href="#contact" class="hover:text-gray-600">Contact</a>
        </div>
    </nav>  -->

    <div class="text-center max-w-3xl">
        <h1 class="text-7xl md:text-9xl font-black tracking-tighter mb-6">Reynard Adimas N.</h1>
        <p class="text-xl md:text-2x; text-gray-600 mb-10 leading-relaxed">Competitive Programmer | ML Entushiast | Long Time Learner</p>
        <a href="#project" class="bg-black text-white px-8 py-4 rounded-lg font-medium hover:bg-gray-800 transition"> View My Project</a>
    </div> 
</section>