    ---
    const projects = [
    { title: "MediCall", 
      category: "Mobile App", 
      bg: "bg-gray-400", 
      link: "https://github.com/ReynardAdimas/medicall" 
    }, 
    { title: "Crypt Web", 
      category: "Cryptography Web Application", 
      bg: "bg-zinc-800", 
      link : "https://github.com/ReynardAdimas/Tugas-Akhir-Kriptografi" 
    },
    { title: "Vegetable Image Predictor", 
      category: "Build with CNN for Model and HTML, CSS, JS for develop website", 
      bg: "bg-zinc-800", 
      link : "https://reynardadimas.github.io/Vegetable-Image-Predictor/" 
    },
    { title: "Jim The Monkey", 
      category: "Casual Game made with Pygame and Q-Learning", 
      bg: "bg-zinc-800", 
      link : "https://mafiaking.itch.io/jim-the-monkey" 
    },
    { title: "Customer Segmentation for Personalized Marketing", 
      category: "Customer Segmentation using K-Means Clustering and RFM Method", 
      bg: "bg-zinc-800", 
      link : "https://github.com/levirs565/asah-customer-segmentation" 
    },
    ];
    ---

    <section id="project" class="py-24 bg-[#F9F9F9]">
        <div class="container mx-auto px-6 max-w-6xl">
            <h2 class="text-4xl font-bold mb-2 text-black">My Projects</h2>
            <p class="text-gray-500 mb-12">A collection of projects focused on minimalist design.</p>

            <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-8">
                {projects.map((project) => (
                    <a 
                    href={project.link}
                    target="_blank"
                    rel="noopener noreferrer"
                    class={`gropu relative h-80 rounded-xl overflow-hidden cursor-pointer block hover:scale-[1.02] transition-transform duration-300 ${project.bg}`}
                    >
                        <div class="absolute bottom-0 left-0 w-full p-6 bg-linear-to-t from-black/80 to-transparent">
                            <h3 class="text-white text-xl font-bold group-hover:text-yellow-300 transition-colors">{project.title}</h3>
                            <p class="text-gray-300 text-sm">{project.category}</p>
                        </div>
                    </a>
                ))}
            </div>
        </div>
    </section>